<div class="container-fluid text-center">
    <div class="page-header">
        <h3>Enter your number</h3>
    </div>

    <form class="form-inline">
        <div class="form-group">
            <input class="form-control xs-6"
                   placeholder="Write integer number"
                   ng-model="value"
                   ng-change="checkValue()"
            />
        </div>
    </form>
    <div class="alert"
         ng-class="alertClass">
        <h3>{{ message }}</h3>
        <strong>{{valueWithFilter}}</strong>
    </div>
</div>